><html>
    <head>
    	{% if title %}
    	<title>{{ title }} - Microblog </title>
    	{% else %}
    	<title>Welcome to Pudge Town!</title>
    	{% endif %}
    </head>
    <body>
    	<div>
            Microblog:
            <!-- added links for home page and the login page to the navigation bar-->
             <a href="{{ url_for('index') }}">Home</a>
             <!-- the is-anonymous property is one of the attributes Flask-Login adds to the user objects through UserMixin. The expression current_user.is_anonymous is going to be True only when the user is not logged in -->
             {% if current_user.is_anonymous %}
             <a href="{{ url_for('login') }}">Login</a>
             {% else %}
             <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
             <a href="{{ url_for('explore') }}">Explore</a>
             <a href="{{ url_for('logout') }}">Logout</a>
            
             {% endif %}

        </div>
    	<hr>
        <!-- a 'with' construct is used to assign the result of calling 'get_flashed_messages()' to a 'messages' variable all within the context of the template. 'get_flashed_messages()' function comes from Flask and returns a list of all messages registered with flash() previously.
        The conditional that follows checks if messages has any actual content in which case a <ul> element is rendered with each message as a list (<li>) item. This doesn't look great but we can style it later.-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    	{% block content %}{% endblock %}
    </body>
</html>