{% extends "base.html" %}

{% block content %}
    <h1>Hello my old friend, {{ current_user.username }}!</h1>
    <!-- we add this conditional below in order to prevent
    	this template from crashing when it tries rendering
    	a web form that does not exist-->
    {% if form %}
    <form action ="" method="post">
    	{{ form.hidden_tag() }}
    	<p>
    		{{ form.post.label }}<br>
    		{{ form.post(cols=32, rows=4) }}<br>
    		{% for error in form.post.errors %}
    		<span style="color: aqua;">[{{ error }}]</span>
    		{% endfor %}
    	</p>
    	<p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}